body{
    background: #DFC1FF;
    background: -webkit-radial-gradient(top right, #DFC1FF, #FF6D38);
    background: -moz-radial-gradient(top right, #DFC1FF, #FF6D38);
    background: radial-gradient(to bottom left, #DFC1FF, #FF6D38);
    height: 100%;
    margin: 0;
    background-repeat: no-repeat;
    background-attachment: fixed;
    padding-bottom:2rem;
}
.form{
    height:60rem;
}
.form .container{
    height:60rem;
}
.user-icon{
    top:5rem;
}
.login-details{
    padding-top:2.5rem;
    height:60rem;
}
.input-div .fa-exclamation{
    padding-left:0.5rem;
}
.initials{
    width:12rem;
    display:flex;
    flex-direction:column;
    text-align: left;
}
.input-wrapper{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
}

.gender-wrapper{
    color:var(--grey2);
    display:flex;
    justify-content: space-between;
}
.gender{
    width:12rem;
    margin-top:1rem;
    padding-left:0.5rem;
    font-size:1.2rem;
    display:flex;
    
}
.gender label{
    transition:all 100ms ease-in;
}
.gender input:hover{
    cursor:pointer;
}
.gender label:hover{
    color:var(--white);
    cursor:pointer;
}
.gender .input{
    width:1.2rem;
    height:100%;
    margin-left:2rem;
}
@media only screen and (max-width: 586px) {
    .user-icon{
        top:6rem;
    }
  }


