body{
    height:100%;
    background: #DFC1FF;
    background: -webkit-radial-gradient(top right, #DFC1FF, #FF6D38);
    background: -moz-radial-gradient(top right, #DFC1FF, #FF6D38);
    background: radial-gradient(to bottom left, #DFC1FF, #FF6D38);
    background-repeat: no-repeat;
}
.form{
    height:60rem;
    margin-bottom:2rem;
}
.form .container{
    height:60rem;
}
.user-icon{
    top:5rem;
}
.login-details{
    padding-top:2.5rem;
    height:60rem;
}
.input-div .fa-exclamation{
    padding-left:0.5rem;
}