:root{
    --white:#fff;
    --black:#222;
    --orange:#ff6d38;
    --grey:#444;
    --grey2:#959595;
    --grey-alt:#f8f8f8;
    --yellow:#ffd800;
    --green:#59b210;
}
*,
*::before,
*::after{
    margin:0;
    padding:0;
    box-sizing:inherit;
}
html{
    box-sizing:border-box;
    font-size:61.5%;
}
body{
    position:relative;
    font-family:'Poppins',snas-serif;
    font-size:1.6rem;
    font-weight: 400;
    color:var(--black);
    background-color: var(--white);
    z-index:-1;
    height:100vh;
}
li,
ul{
    list-style:none;
}
a{
    text-decoration: none;
}
img{
    max-width: 100%;
    max-height: 100%;
}
.container{
    max-width:114rem;
    margin:0 auto;
    padding:0 1rem;
}